*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: lightgray;
}
header {
    display: Flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #9d4fb3;
}
.logo {
    max-width: 9rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen  {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        background-color: transparent;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .abrir-menu{
        color: black;
    }
    .cerrar-menu {
        color: white;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #510180;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 100;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        text-decoration: none;
        color: lightgray;
    }
}

@media screen and (max-width: 900px) {
    /* Mostrar los botones de menú en móviles */
    .abrir-menu,
    .cerrar-menu {
        font-size: 3rem;    
    }
    /* Ajustar el tamaño del logo */
    .logo {
        max-width: 12rem;
    }
}

/* Estilo para el contenedor del slider */
.banner-slider {
    width: 100vw;              /* 100% del ancho de la ventana (viewport) */
    height: 300px;             /* Ajusta el alto del banner */
    overflow: hidden;          /* Oculta cualquier contenido fuera del contenedor */
    position: relative;        /* Necesario para posicionar las imágenes dentro */
    margin: 0;                 /* Elimina márgenes si los hay */
    padding: 0;                /* Elimina rellenos si los hay */
    margin-bottom: 0;          /* Esto hay q cambiarlo cuando agregue lo de abajo */
  }
  
  /* Estilo para el contenedor de imágenes */
  .slide {
    display: flex;             /* Coloca las imágenes en línea horizontal */
    width: 300%;               /* El ancho total será el de 3 imágenes (100% * 3) */
    transition: transform 1s ease-in-out; /* Transición suave entre las imágenes */
  }
  
  .slide img {
    width: 100vw;              /* Cada imagen ocupa un 100% del ancho de la ventana */
    height: 100%;
    object-fit: cover;         /* Hace que la imagen cubra el espacio sin distorsionarse */
  }

footer{
    background-color: #9d4fb3;
    text-align: end;
    padding: 1rem;
}
.conteiner-all{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}