* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: lightgray;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #371859;
}

.logo {
  max-width: 9rem;
}

.logo-container {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: black;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.abrir-menu,
.cerrar-menu {
  display: block;
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.abrir-menu {
  color: white;
}

.cerrar-menu {
  color: white;
}

.nav {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #230552;
  border-radius: 20px 0 0 20px;
  padding: 2rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  z-index: 100;
  transition: opacity 0.1s ease, visibility 0.5s;
}

.nav.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease;
}

.nav-list {
  flex-direction: column;
  align-items: end;
}

.nav-list li a {
  text-decoration: none;
  color: lightgray;
}

@media screen and (max-width: 900px) {
  .abrir-menu,
  .cerrar-menu {
      font-size: 3rem;
  }

  .logo {
      max-width: 12rem;
  }
}

.banner-slider {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 0; /* Espaciado uniforme debajo */
  object-fit: cover;
}

.slide {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.linea{
  width: 100%;
  height: 4px; /* Grosor de la línea */
  background-color: #371859; 
  position: relative;
}

footer {
  background-color: #371859;
  text-align: center;
  padding: 1rem;
  color: white;
  word-spacing: 0.5px;
}

.conteiner-all {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* Espaciado uniforme entre artículos */
  background-color: lightgray;
  padding: 1rem; /* Espaciado interno uniforme */ 
}

.box > div:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
}

.box > div {
  background-color: #30115E;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.box h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: white;
}

.movile {
  display: none;
}

@media screen and (max-width: 900px) {
  .box {
      gap: 0.5rem;
      padding: 0.5rem;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
  }

  footer {
      padding: 0.7rem;
      font-size: small;
      text-align: center;
  }

  .movile {
      display: block;
  }

  .linea-roja {
        width: 100%;
        margin: 0;
    }

    .banner-slider {
        margin: 0;
    }
}

.box h2 {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Alinea hacia la parte inferior */
  height: 100%; /* Ocupa todo el espacio del contenedor */
  padding: 1rem;
}

.icon-link {
  text-decoration: none;
  margin-top: 0.5rem;
}
.icon-container i {
  margin-bottom: 3rem;
}
.box > div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 99; /* Debe estar debajo del menú */
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.box-icon {
  width: 210px;  /* Ajusta el tamaño según necesites */
}

